@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  padding-top: 100px;
  background: linear-gradient(131deg, #f6b8b8, #1a8ff5);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1860px;
  display: flex;
  justify-content: center; /* add this line */
  align-items: center; /* add this line */
  margin: 0 auto;
  height: 100%; /* add this line */
}


.card {
  width: 350px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 9px 4px rgba(176, 100, 255, 0.48);
  box-shadow: 2px 3px 9px 4px rgba(176, 100, 255, 0.48);
  

}

.top {
  background-image: linear-gradient(45deg, #f1a49b, #f54c4a);
  padding-bottom: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.user {
  font-size: 20px;
}

#unit-converter {
  border: none;
  background: none;
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}

#unit-converter option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#main-unit {
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 40px;
  width: 160px;
}

#second-unit {
  border: none;
  background: none;
  border-bottom: 1px solid #f54c4a;
  color: #f54c4a;
  font-size: 40px;
  width: 160px;
}

.main-unit-options {
  border: none;
  background: none;
  color: #fff;
  font-size: 20px;
}

.main-unit-option {
  background: rgba(0, 0, 0, 0.3);
}

.second-unit-options {
  border: none;
  background: none;
  color: #f54c4a;
  font-size: 20px;
}

.bottom {
  background-color: #fff;
  padding: 80px 15px;
  
}

#chart-container {
  width: 50%;
  height: 600px;
  margin-left:120px;
  margin-top:40px;
}

.chart-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.chart-buttons button {
  background-color: #F37D77;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 10px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
}

.chart-buttons button:hover {

  background-color: #f45452; /* darker red hover background */
}

.icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 9999; /* ensure the icon is on top of other elements */
}

.icon {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.icon-text {
  font-size: 32px;
  color: #ffffff; /* adjust the text color to fit your design */
}




